.login-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;

    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #0f172a
    );
}

.login-card{

    width:500px;

    background:rgba(30,41,59,.75);

    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border-radius:20px;

    padding:45px;

    display:flex;
    flex-direction:column;
    align-items:center;

    gap:20px;

    box-shadow:0 20px 50px rgba(0,0,0,.45);

    transition:.3s;
}

.login-card:hover{

    transform:translateY(-4px);

}

.tagline{

    color:#cbd5e1;

    text-align:center;

    font-size:18px;

    margin-bottom:5px;

}

.forgot{

    color:#60a5fa;

    cursor:pointer;

    transition:.3s;

}

.forgot:hover{

    color:white;

}

.signup{

    color:#cbd5e1;

    text-align:center;

}

.link{

    color:#3b82f6;

    text-decoration:none;

    font-weight:bold;

    transition:.3s;

}

.link:hover{

    color:white;

}

@media(max-width:600px){

.login-card{

width:100%;

padding:30px;

}

}