.primary-btn {
  width: 100%;

  padding: 15px;

  background: #2563eb;

  color: white;

  border: none;

  border-radius: 10px;

  font-size: 20px;

  cursor: pointer;

  transition: 0.3s;
}

.primary-btn:hover {
  background: #1d4ed8;

  transform: translateY(-2px);

  box-shadow: 0 10px 20px rgba(37, 99, 235, 0.35);
}